<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.lecture.lecture.mapper.LectureUserRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.lecture.common.entity.lecture.LectureUserRecord">
        <id column="id" property="id" />
        <result column="lecture_id" property="lectureId" />
        <result column="user_id" property="userId" />
        <result column="sign_code_id" property="signCodeId" />
        <result column="order_time" property="orderTime" />
        <result column="sign_time" property="signTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lecture_id, user_id, sign_code_id, order_time, sign_time, is_deleted, create_time, update_time
    </sql>

    <!-- 分页查询，根据用户id查询该用户已预约过的讲座-->
    <select id="getLectureUserRecordPageList" resultType="com.study.lecture.common.vo.LectureUserRecordVo">
        select lur.id, lur.lecture_id,lur.user_id,lur.sign_code_id, lur.order_time, lur.sign_time,
               l.title, l.organizer, l.state, l.space, l.lecture_start_time,
               lt.name as typeName
        from lecture l, lecture_type lt, lecture_user_record lur
        where l.id = lur.lecture_id and lt.id = l.type_id and lur.user_id = #{userId}
        limit #{begin}, #{limit};
    </select>

    <!-- 根据用户id查询该用户已预约过的讲座的数量-->
    <select id="countLectureUserRecord" resultType="java.lang.Integer">
        select COUNT(*)
        from lecture_user_record
        where user_id=#{userId}
    </select>

</mapper>
